.block {
    width: 70px;
    height: 70px;
    margin: 5px;
    background-color: yellowgreen;
    color: red;
    
}

div.block p {
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    display: block;
    text-align: center;
    justify-content: center;
}