.modalWindow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0 , 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.interpolation {
    width: 500px;
    height: 400px;
    background-color: white;
    position: relative;
    border-radius: 15px;
    border: solid 2px blue;

}

.nameInterpolation {
    margin: 10px;
    float: left;
}

.exitInterpolation {
    margin: 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
    float: right;
}

.hide {
    display: none;
}
