* {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
}

div.conteiner {
    width: 500px;
    height: 1000px;
    background-color: #808080;
    border: 1px solid green;
    box-shadow: 0 0 20px green
}

.hide {
    display: none;
}